.intro
  .prof-pic
    =image_tag '3e2ccec.jpeg', class: 'prof-img'
    .caption
  .explanation
    On the right
    %hr
    .all-ex{class: 'ex'} 
      experiences 
      .extra I've had.
    .skills-ex{class: 'ex'} 
      skills 
      .extra I've gained.
    .projects-ex{class: 'ex'}
      projects
      .extra I've done.
    .positions-ex{class: 'ex'} 
      places 
      .extra I've worked.
    .hobbies-ex{class: 'ex'} 
      hobbies 
      .extra I enjoy.
  .filters
    %input{type: 'submit', value: 'all', class: 'all'}
    %input{type: 'submit', value: 'skills', class: 'skills'}
    %input{type: 'submit', value: 'projects', class: 'projects'}
    %input{type: 'submit', value: 'positions', class: 'positions'}
    %input{type: 'submit', value: 'hobbies', class: 'hobbies'}
.all-experiences
  .welcome
    =image_tag 'sf.jpg', class: 'welcome-img'
    .greeting My name is Clint Mullins
  - @experiences.each_with_index do |experience, i|
    = render partial: 'experience', locals: {experience: experience, i: i }