%input{type: 'submit', value: 'all', class: 'all'}
%input{type: 'submit', value: 'skills', class: 'skills'}
%input{type: 'submit', value: 'projects', class: 'projects'}
%input{type: 'submit', value: 'positions', class: 'positions'}
%input{type: 'submit', value: 'hobbies', class: 'hobbies'}
.all-experiences
  - @experiences.each_with_index do |experience, i|
    - type = experience.type.downcase
    %article{class: "experience #{type}"} 
      %span{class: "e#{i}"}
      %header
        .name= experience.name
        .type= experience.type
      %footer +