/*require_relative 'common.css.scss'*/
$skill-col: #E8DB0C;
$employ-col: #0C44E8;
$accomp-col: #00FF6A;
$hobby-col: #FF6B0D;
$grey: #ededed;
/*$grey: #9D54FF;*/


@mixin shadow($x,$y, $blur){
  -webkit-box-shadow: $x $y $blur rgba(200, 200, 200, 0.58);
  -moz-box-shadow:    $x $y $blur rgba(200, 200, 200, 0.58);
  box-shadow:         $x $y $blur rgba(200, 200, 200, 0.58);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-top-left-corner($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin rounded-top-corners($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin exp($color){
  color: darken($grey, 40);
  background-color: lighten($grey,20);
  border-top: darken($grey, 10) solid .2em;
  border-bottom: darken($grey, 10) solid .2em;
  /*border-left: $color solid .1em ;*/
  header {
    border-bottom: $color solid .1em;
    /*height: 2.5em;*/
    background-color: darken($grey, 10);
    position: absolute;
    top: 0;
    width: 100%;

    .name{
      padding: .1em;
    }
  }

  footer {
    background-color: $grey;
    .more {
      background-color: darken($grey,20);
      transition: border .2s, 
                  background-color .2s,
                  font-size .2s;
      @include rounded-top-left-corner(2px); 

      &:hover {
        font-size: 2em;
        background-color: lighten($color,40);
        color: darken($color,10);
        border-top: solid darken($grey,20) 2px;
        border-left: solid darken($grey,20) 2px;
      }
    }
  }
}

.experience {
  display: inline-block;
  width: 30%;
  height: 15em;
  margin: 0em 1em 1em 0em;
  position: relative;
  float: left;
  @include rounded-corners(2px);

  header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05em;
    font-size: 1.3em;
    height: 2em;

    .name {
      float: left;
    }
    
    .type {
      display: none;
    }

    .unique {
      display: none;
    }
  }

  .content{
    margin-top: 3.2em;
    padding: .4em;
  }

  footer {
    position: absolute;
    bottom: 0em;
    width: 100%;

    .tags{
      margin-left: 1em;
      font-size: .7em;
      padding: .1em .4em;
    }

    .more {
      position: absolute;
      right: 0em;
      bottom: 0em;
      background-color: rgba(255,255,255,.5);
      cursor: pointer;
      padding: .1em .4em;
    }
  }
}

.skill {
  @include exp($skill-col);
}

.work {
  @include exp($employ-col);
}

.project {
  @include exp($accomp-col);
}

.hobby {
  @include exp($hobby-col);
}

.colorless{
  @include exp(white);
}
