$skill-col: yellow;
$employ-col: blue;
$accomp-col: red;
$hobby-col: green;

@mixin shadow($x,$y, $blur){
  -webkit-box-shadow: $x $y $blur rgba(200, 200, 200, 0.58);
  -moz-box-shadow:    $x $y $blur rgba(200, 200, 200, 0.58);
  box-shadow:         $x $y $blur rgba(200, 200, 200, 0.58);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-top-left-corner($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin rounded-top-corners($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.experience {
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 1em;
  border: black solid .2em;
  padding: 1em;
  @include rounded-corners(2px);

  header {
    .name {
      float: left;
    }
    .type {
      float: right;
    }
  }
}

.skill {
  background-color: $skill-col;
}

.employment {
  background-color: $employ-col;

}

.accomplishment {
  background-color: $accomp-col;

}

.hobby {
  background-color: $hobby-col;
}

