$skill-col: #FFFE5C;
$employ-col: #5C65FF;
$accomp-col: #BDE8D7;
$hobby-col: #E85F9A;

@mixin shadow($x,$y, $blur){
  -webkit-box-shadow: $x $y $blur rgba(200, 200, 200, 0.58);
  -moz-box-shadow:    $x $y $blur rgba(200, 200, 200, 0.58);
  box-shadow:         $x $y $blur rgba(200, 200, 200, 0.58);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-top-left-corner($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin rounded-top-corners($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin exp($color){
  background-color: $color;
  border: darken($color, 30) solid .2em;
  header {
    height: 2.3em;
    background-color: darken($color, 10);
    position: absolute;
    top: 0;
    width: 100%;
  }

  footer {
    background-color: darken($color,20);
    transition: border .2s, 
                background-color .2s,
                font-size .2s;
    @include rounded-top-left-corner(2px); 

    &:hover {
      font-size: 2em;
      background-color: darken($color,30);
      color: lighten($color,20);
      border-top: solid darken($color,20) 2px;
      border-left: solid darken($color,20) 2px;
      /*padding: 1em !important;*/
    }
  }
}

.experience {
  display: inline-block;
  width: 10em;
  height: 15em;
  margin: 1em .5em 0em .5em;
  /*padding: 1em;*/
  position: relative;
  @include rounded-corners(2px);

  header {
    .name {
      float: left;
    }
    
    .type {
      display: none;
    }

    .unique {
      display: none;
    }
  }

  footer {
    position: absolute;
    bottom: 0em;
    right: 0em;
    padding: 1px .2em;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
  }
}

.skill {
  @include exp($skill-col);
}

.employment {
  @include exp($employ-col);
}

.accomplishment {
  @include exp($accomp-col);
}

.hobby {
  @include exp($hobby-col);
}

.colorless{
  @include exp(gray);
}
