
@mixin shadow($color, $darker){
  -webkit-box-shadow: 0px 4px 0px darken($color, $darker);
  -moz-box-shadow:    0px 4px 0px darken($color, $darker);
  box-shadow:         0px 4px 0px darken($color, $darker);
}

$skill-col: #E8DB0C;
$employ-col: #0C44E8;
$accomp-col: #00FF6A;
$hobby-col: #FF6B0D;
$grey: #ededed;
/*$grey: #67FF49;*/

$chosen-height: 3em;

@mixin chosen($color) {
  color: complement($color);
  background-color: $color;
  width: 108%;
  transition: width 1s;
  /*height: $chosen-height;*/
  @include shadow($color, 20);
}

body {  
  background-image: url('sf.png');
  background-attachment:fixed;
  background-position:0 0;
  background-repeat:no-repeat;
}

html {
  padding: 0;
}

.intro {
  @include shadow($grey, 30);
  background-color: darken($grey, 10);
  height: 23em;
  width: 272px;
  position: fixed;
  left: 1em;
  top: 1em;

  .explanation {
    padding: 1em;
    width: 67%;
    color: darken($grey,40);
    margin-top: -4px;
  }

  .prof-img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    transition: -webkit-filter 1s;

    &:hover {
      -webkit-filter: grayscale(0%);
    }
  }

  .filters {
    font-family: 'Quattrocento', serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;


    .all{
      background-color: rgba(1,1,1,.5);
    }

    .projects.chosen{
      @include chosen($accomp-col);
    }

    .positions.chosen{
      @include chosen($employ-col);
    }

    .hobbies.chosen{
      @include chosen($hobby-col);
    }

    .skills.chosen{
      @include chosen($skill-col);
    }
  }
}

.welcome{
  width: 93%;
  overflow: hidden;
  height: 23em;
  margin-bottom: 1em;
  position: relative;
  @include shadow($grey, 30);

  .greeting {
    font-size: 4em;
    z-index: 2;
    position: absolute;
    color: white;

  }

  .welcome-img {
    position: absolute;
    width: 100%;
  }
}

.all-experiences {
  width: 78%;
  margin-top: .5em;
  float: right;
}

input {
  width: 100%;
  border: none;
  cursor: pointer;
  height: 2.2em;
  transition: height 1s;
  font-family: 'Quattrocento', serif;
  padding-right: 50px;
  text-align: left;

  &:hover {
    background-color: black;
    color: #ededed;
  }
}

.ex {
  display: none;
  font-size: 1.3em;
}

.chosen-ex {
  display: block;
}